$PF: $P + '-fade';

@include ETAnimationMixin($PF);

.#{$PF}-enter.#{$PF}-enter-active {
  animation-name: ETFadeEnter;
}

.#{$PF}-leave.#{$PF}-leave-active {
  animation-name: ETFadeLeave;
}

$PZ: $P + '-zoom';

@include ETAnimationMixin($PZ);

/**
 * animation part
 * ETFadeEnter
 * ETFadeLeave
 */
@keyframes ETFadeEnter {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }

  // 0% {
  //   transform: scale(0.2);
  //   opacity: 0;
  // }

  // to {
  //   transform: scale(1);
  //   opacity: 1;
  // }
}

@keyframes ETFadeLeave {
  to {
    transform: translateY(-10px);
    opacity: 0;
  }

  // 0% {
  //   transform: scale(1);
  // }

  // to {
  //   transform: scale(0.2);
  //   opacity: 0;
  // }
}
