#abcd {
  width: 100px;
  height: 100px;
  background: #ff0;
}

/* components start 2021.04 */
/* Form start */
.hb-form-item {
  margin-bottom: 18px;
  display: flex;
  display: -ms-flex;
  vertical-align: top;
}

.hb-form-item-label {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  min-width: 180px;
  text-align: right;
}

.hb-form-item-explain {
  display: none;
  margin-top: 10px;
  line-height: 22px;
}

.hb-form-item-explain-error {
  color: #ff4d4f;
}

.hb-form-item-control.with-error .hb-form-item-explain {
  display: block;
}
.hb-form-item-control.with-error .hb-input {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(255, 144, 24, 0.2);
}
/* Form end */

/* Input & Textarea start */
.hb-textarea,
.hb-input {
  position: relative;
  display: inline-block;
  margin: 0;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 4px 11px;
  width: 100%;
  min-width: 0;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22px;
  background-color: #fff;
  background-image: none;
  font-size: 14px;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  box-sizing: border-box;
  transition: all 0.3s;
}

.hb-input {
  height: 32px;
}

.hb-textarea-focused,
.hb-textarea:focus,
.hb-input-focused,
.hb-input:focus {
  outline: 0;
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.hb-input.is-disabled {
  cursor: not-allowed;
  user-select: none;
}
/* Input end */

/* hbFade(enter & leave) start */
.hb-fade-enter,
.hb-fade-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.hb-fade-enter.hb-fade-enter-active {
  animation-play-state: running;
}

.hb-fade-leave.hb-fade-leave-active {
  animation-play-state: running;
  pointer-events: none;
}

.hb-fade-enter {
  opacity: 0;
}

.hb-fade-enter,
.hb-fade-leave {
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* hbFade(enter & leave) end */

.hb-form-item-explain.hb-fade-enter.hb-fade-enter-active {
  animation-name: hbFormItemFadeEnter;
}

.hb-form-item-explain.hb-fade-leave.hb-fade-leave-active {
  animation-name: hbFormItemFadeLeave;
}

@keyframes hbFormItemFadeEnter {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hbFormItemFadeLeave {
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}

.hb-modal.hb-fade-enter.hb-fade-enter-active {
  /* animation-name: hbModalFadeEnter; */
  animation-name: hbModalZoomEnter;
}

.hb-modal.hb-fade-leave.hb-fade-leave-active {
  /* animation-name: hbModalFadeLeave; */
  animation-name: hbModalZoomLeave;
}

@keyframes hbModalFadeEnter {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hbModalFadeLeave {
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes hbModalZoomEnter {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hbModalZoomLeave {
  0% {
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

// #app {
//   position: fixed;
//   top: 50%;
//   left: 50%;

//   min-width: 800px;
//   // height: 80vw;
//   overflow: scroll;
//   transform: translateX(-50%) translateY(-50%);
// }

$PD: $P + '-demo';
$PB: $P + '-btn';

// .#{$PD}-wrap {
// }

.#{$PD} {
  padding: 20px;
  background-color: $bgColor;

  &.#{$P}-fade-enter.#{$P}-fade-enter-active {
    animation-name: ETFadeEnter;
  }

  &.#{$P}-fade-leave.#{$P}-fade-leave-active {
    animation-name: ETFadeLeave;
  }
}

.#{$PD}-content {
  min-height: 80vh;
}

// @keyframes ETFadeEnter {
//   0% {
//     transform: scale(0.86) translateY(-20px);
//     opacity: 0;
//   }

//   to {
//     transform: scale(1) translateY(0);
//     opacity: 1;
//   }
// }

// @keyframes ETFadeLeave {
//   to {
//     transform: scale(0.86) translateY(-20px);
//     opacity: 0;
//   }
// }

$PIP: $P + '-img-processing';

.#{$PIP} {
  min-height: 300px;
}

.#{$PIP}-left {
  float: left;
  width: 46vw;
  background-color: #f33;
}

.#{$PIP}-right {
  float: right;
  width: 46vw;
  background-color: #33f;
}

// ............

.#{$PD} {
  margin-bottom: 76px;
  background-color: #333;

  .#{$PB} {
    color: #fff;
  }

  .#{$PB}.type-neon2,
  .#{$PB}.type-neon {
    &.sm {
      padding: 0 15px;
      font-size: 10px;
      height: 24px;
      line-height: 22px;
    }

    &.lg {
      padding: 0 30px;
      height: 40px;
      line-height: 38px;
      font-size: 16px;
    }
  }

  .#{$PB}.type-gradient {
    &.sm {
      padding: 0 15px;
      font-size: 10px;
      border-radius: 2px;
      height: 24px;
      line-height: 24px;
    }

    &.lg {
      padding: 0 30px;
      height: 40px;
      line-height: 40px;
      border-radius: 4px;
      font-size: 16px;
    }
  }
}

.#{$PD}-btn-box-row,
.#{$PD}-btn-box {
  display: grid;
}

.#{$PD}-btn-box-item {
  padding: 12px 20px;
  background: #333;
  border: 1px solid #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(102, 175, 233, 0.6);
}

@media (min-width: $mediaM) {
  .#{$PD}-btn-box {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(126.66667px, auto);
    grid-gap: 10px;
  }

  .#{$PD}-btn-box-row {
    grid-column: 1 / 7;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 10px;
  }
}

@media (max-width: $mediaS) {
  .#{$PD}-btn-box {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
  }

  .#{$PD}-btn-box-row {
    grid-column: 1 / 4;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5px;
  }
}
