.media-wrap {
  padding: 0 18px;
  height: 56px;
}

.control-group {
  float: right;
  display: inline;
}

.progress-bar {
  float: right;
  position: relative;
  border-radius: 4px;
  margin: 12px;
  width: 140px;
  height: 10px;
  background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);

  .picker {
    position: absolute;
    border: 4px solid #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: transparent;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    cursor: default;

    transform: translate(-3px, -3px);
  }
}
