$PM: $P + '-modal';

.#{$PM}-mask,
.#{$PM}-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 160;
}

.#{$PM}-mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  pointer-events: auto;

  &.#{$P}-fade-enter.#{$P}-fade-enter-active {
    animation-name: ETModalMaskFadeEnter;
  }

  &.#{$P}-fade-leave.#{$P}-fade-leave-active {
    animation-name: ETModalMaskFadeLeave;
  }
}

@keyframes ETModalMaskFadeEnter {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes ETModalMaskFadeLeave {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.#{$PM}-wrap {
  overflow: auto;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  pointer-events: none;
}

.#{$PM} {
  position: relative;
  top: 100px;
  margin: 0 auto;
  padding: 0 0 24px;
  width: auto;
  width: 300px;
  min-height: 200px;
  max-width: calc(100vw - 32px);
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  box-sizing: border-box;
  pointer-events: none;

  // fade
  &.#{$P}-fade-enter.#{$P}-fade-enter-active {
    animation-name: ETModalFadeEnter;
  }

  &.#{$P}-fade-leave.#{$P}-fade-leave-active {
    animation-name: ETModalFadeLeave;
  }

  // zoom
  &.#{$P}-zoom-enter.#{$P}-zoom-enter-active {
    animation-name: ETModalZoomEnter;
  }

  &.#{$P}-zoom-leave.#{$P}-zoom-leave-active {
    animation-name: ETModalZoomLeave;
  }
}

@keyframes ETModalFadeEnter {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }

  // 0% {
  //   transform: scale(0.2);
  //   opacity: 0;
  // }

  // to {
  //   transform: scale(1);
  //   opacity: 1;
  // }
}

@keyframes ETModalFadeLeave {
  to {
    transform: translateY(-10px);
    opacity: 0;
  }

  // 0% {
  //   transform: scale(1);
  // }

  // to {
  //   transform: scale(0.2);
  //   opacity: 0;
  // }
}

@keyframes ETModalZoomEnter {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes ETModalZoomLeave {
  0% {
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.2);
  }
}

.#{$PM}-content {
  position: relative;
  border: 0;
  border-radius: 2px;
  background-color: #fff;
  background-clip: padding-box;
  // box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  pointer-events: auto;
}

.#{$PM}-header {
  padding: 16px 24px;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.85);
}

.#{$PM}-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 54px;
  height: 54px;
  background-color: #fff;
  /* background-image: url(/img/common/btn-close.svg); */
  background-position: center center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.#{$PM}-title {
  margin: 0;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  word-wrap: break-word;
}

.#{$PM}-body {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}

.#{$PM}-footer {
  border-top: 1px solid #f0f0f0;
  border-radius: 0 0 2px 2px;
  padding: 10px 16px;
  background: 0 0;
  text-align: right;
}

.#{$PM}-footer .hb-btn.cancel {
  margin-right: 12px;
}

.#{$PM}-btn {
  display: inline-block;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  height: 32px;
  line-height: 32px;

  &.#{$PM}-btn-cancel {
    margin-right: 12px;
    border: 1px solid #d9d9d9;
    line-height: 30px;
  }

  &.#{$PM}-btn-submit {
    background-color: $theme-red;
    color: #fff;
  }
}
